/* top nav */
@font-face {
    font-family: appFont;
    src: url(../fonts/Helvetica.ttf);
  }
  body{
    font-family: appFont;
  }


.small{
    font-size: 20px;
}

.image-zoom:hover {
    transform: scale(1.02); 
  }
  .image-zoom{
    transition: transform .2s;
  }

  #circle {
    transition: stroke-dashoffset 300ms ease-in;
    stroke-dashoffset: 0;
    fill: none;
  }
  #circle.play {
    stroke-dashoffset: 314;
  }

  #myVideo{
    width: 100%;
    /* height: 100%; */
  }

  .nav-link{
    color: white !important;
  }

  .spyre-navbar-nav-container{
    background-color: #23689b !important;
    width: 200px !important;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #23689b;
    color: white;
  }

  .btn-primary{
    background-color: #23689b !important;

  }